body {
  background-image: url(https://plinkoverse.github.io/plinkoverseimage/PLINKOVERSE.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
